@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: radial-gradient(circle at top, #020617, #020617);
}

body {
  color: #e5e7eb;
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
}

/* Scrollbar clean */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
::-webkit-scrollbar-track {
  background: transparent;
}