@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #020617, #020617);
  color: #e5e7eb;
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
}
