@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #020617;
  color: #e5e7eb;
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
